:root {
    --calcBody: darkslategray;
    --calcDisplay: grey;
}

.cBody {
    width: 90vw;
    height: 90vh;
    background-color: var(--calcBody);
    border-radius: 6px;
    padding: 1% 1%;
}

.cDisplay {
    width: 100%;
    height: 30%;
    background-color: var(--calcDisplay);
    border-radius: 6px;
}